@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logon Denied</title>
	<script type="text/javascript">
		$(document).ready(function () {
			window.top.location = 'https://www.facebook.com/';
		});
	</script>
</head>
<body>
    <div>
        
    </div>
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
</body>
</html>
